.about-hero {
  position: relative;
  min-height: 50vh;
  background: url('https://img.freepik.com/free-photo/glasses-lie-laptop-reflecting-light-from-screen-dark_169016-52267.jpg?uid=R195395238&ga=GA1.1.1975205788.1747372593&semt=ais_items_boosted&w=740') center center/cover no-repeat;
  overflow: hidden;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.801); /* Adjust opacity as needed */
  z-index: 1;
}

.overlay-left,
.overlay-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 2;
  transform: rotate(45deg);
}

.overlay-left {
  left: -150px;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

.overlay-right {
  right: -150px;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.about-hero .container {
  z-index: 3;
  position: relative;
}

.breadcrumb-text a {
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .overlay-left, .overlay-right {
    width: 200px;
    transform: rotate(45deg);
  }
}
/* -------------------------------------------------- */




.card-img-top {
  object-fit: cover;
  height: auto;
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
/* -------------------------- */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #111;
}

.card-img-top {
  object-fit: cover;
  height: auto;
  max-height: 480px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.hover-bg:hover {
  background-color: #f8f8f8;
  transition: 0.3s ease;
  cursor: pointer;
}

img.rounded-3 {
  object-fit: cover;
  width: 60px;
  height: 60px;
}
