.about-hero {
  position: relative;
  min-height: 50vh;
  background: url('../images/paheshero.jpg') center center/cover no-repeat;
  overflow: hidden;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555); /* Adjust opacity as needed */
  z-index: 1;
}

.overlay-left,
.overlay-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 2;
  transform: rotate(45deg);
}

.overlay-left {
  left: -150px;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

.overlay-right {
  right: -150px;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.about-hero .container {
  z-index: 3;
  position: relative;
}

.breadcrumb-text a {
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .overlay-left, .overlay-right {
    width: 200px;
    transform: rotate(45deg);
  }
}
